@charset "UTF-8";
/*--------------------------------------------------------------
>>> Table des modules:
----------------------------------------------------------------
# mixins-master
# animation
# general

---------------------------------------------------------------    
# Variable
# mixins-master    
--------------------------------------------------------------*/
/*@import "sass/mixins/mixins-master";*/
/*--------------------------------------------------------------
# animation
--------------------------------------------------------------*/
.site-title a {
  -webkit-animation: animationLettre 1s both;
          animation: animationLettre 1s both;
}

@-webkit-keyframes animationLettre {
  from {
    opacity: 0;
    /*transform: translateY(-75vw) rotate(180deg) scale(1);*/
    -webkit-animation-timing-function: cubic-bezier(0.8, 0.01, 0.97, 0.19);
            animation-timing-function: cubic-bezier(0.8, 0.01, 0.97, 0.19);
  }
  50% {
    opacity: .5;
    /*transform: translateY(30vw) rotate(180deg) scale(1.5);*/
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.25, 0.19, 1.01);
            animation-timing-function: cubic-bezier(0.09, 0.25, 0.19, 1.01);
  }
  to {
    opacity: 1;
    /*transform: translateY(0%) rotate(0deg) scale(1);*/
  }
}

@keyframes animationLettre {
  from {
    opacity: 0;
    /*transform: translateY(-75vw) rotate(180deg) scale(1);*/
    -webkit-animation-timing-function: cubic-bezier(0.8, 0.01, 0.97, 0.19);
            animation-timing-function: cubic-bezier(0.8, 0.01, 0.97, 0.19);
  }
  50% {
    opacity: .5;
    /*transform: translateY(30vw) rotate(180deg) scale(1.5);*/
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.25, 0.19, 1.01);
            animation-timing-function: cubic-bezier(0.09, 0.25, 0.19, 1.01);
  }
  to {
    opacity: 1;
    /*transform: translateY(0%) rotate(0deg) scale(1);*/
  }
}

p.site-description {
  -webkit-animation: animationDescription 1.5s both;
          animation: animationDescription 1.5s both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes animationDescription {
  from {
    -webkit-transform: translateX(-75vw);
            transform: translateX(-75vw);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0.01, 0.97, 0.19);
            animation-timing-function: cubic-bezier(0.8, 0.01, 0.97, 0.19);
  }
  50% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.25, 0.19, 1.01);
            animation-timing-function: cubic-bezier(0.09, 0.25, 0.19, 1.01);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes animationDescription {
  from {
    -webkit-transform: translateX(-75vw);
            transform: translateX(-75vw);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0.01, 0.97, 0.19);
            animation-timing-function: cubic-bezier(0.8, 0.01, 0.97, 0.19);
  }
  50% {
    -webkit-transform: translateX(5vw);
            transform: translateX(5vw);
    -webkit-animation-timing-function: cubic-bezier(0.09, 0.25, 0.19, 1.01);
            animation-timing-function: cubic-bezier(0.09, 0.25, 0.19, 1.01);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/*--------------------------------------------------------------
# style general
--------------------------------------------------------------*/
/*
 Theme Name:   Twenty Nineteen Enfant
 Theme URI:    http://example.com/twenty-nineteen-child/
 Description:  Twenty Nineteen Enfant
 Author:       Héloïse Sylvain
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-nineteen-enfant
*/
.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.site-branding > .site-title > a {
  color: pink;
  text-transform: uppercase;
}

.site-title {
  letter-spacing: 0.5vw;
  font-weight: 100;
  font-size: 4em;
}

.site-description {
  letter-spacing: 0.5vw;
  font-weight: 100;
}

.site-title:not(:empty) + .site-description:not(:empty):before {
  content: none;
}

.entry-title {
  font-weight: 100;
  letter-spacing: 0.5vw;
  font-size: 1em;
}

.etiquette-image {
  height: 100vh;
}

.site-header.featured-image:after {
  background: none;
}

.conteneur-images img {
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.conteneur-images img:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.entry .entry-title:before {
  content: none;
}

.entry .entry-title a:hover {
  color: pink;
}

.entry-header-cours {
  margin: 0 10vw;
}

#post-196, #post-198, #post-200 {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: pink solid 1px;
}

#post-200 {
  border-top: pink solid 1px;
}

.site-info {
  display: none;
}
/*# sourceMappingURL=style.css.map */