
.site-title a{
    animation: animationLettre 1s both;
}

@keyframes animationLettre {
    from {
        opacity:  0;
        /*transform: translateY(-75vw) rotate(180deg) scale(1);*/
        animation-timing-function: cubic-bezier(.8, .01, .97, .19);
    }

    50% {
        opacity:  .5; 
        /*transform: translateY(30vw) rotate(180deg) scale(1.5);*/
        animation-timing-function: cubic-bezier(.09, .25, .19, 1.01);
    }

    to {
        opacity:  1; 
        /*transform: translateY(0%) rotate(0deg) scale(1);*/
    }

}

p.site-description{
    animation: animationDescription 1.5s both;
    animation-delay: 1s;
}

@keyframes animationDescription {
    from {
        transform: translateX(-75vw);
        animation-timing-function: cubic-bezier(.8, .01, .97, .19);
    }

    50% {
        transform: translateX(5vw);
        animation-timing-function: cubic-bezier(.09, .25, .19, 1.01);
    }

    to {
       transform: translateX(0%);
    }

}